@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tt,
u,
ul,
var {
  background: transparent;
  border: 0 none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

blockquote,
q {
  quotes: none;
}

table,
table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

img {
  border: 0;
  display: block;
}

select {
  white-space: nowrap;
}

caption {
  text-align: left;
}

embed {
  vertical-align: top;
}

div,
ul,
li,
ol,
dl,
dd,
p {
  word-wrap: break-word;
}

ul,
li,
ol,
dl,
dd {
  list-style-type: none;
}

input,
textarea,
select {
  font-family: inherit;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  text-align: left;
  color: #828282;
}

html,
body {
  //   font: 10px/1.5 Microsoft YaHei, \5b8b\4f53, Arial, Verdana;
  width: 100%;
  margin: 0 auto;
}
html {
  font-size: calc(10vw / 3.75) !important;
}
a {
  text-decoration: none;
  white-space: nowrap;
  color: #828282;
}

input,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="number"] {
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*清除浮动*/
.clf:before,
.clf:after {
  content: "";
  display: table;
}

.clf:after {
  clear: both;
}

.clf {
  *zoom: 1;
}

.shengl {
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
}



.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}


.moveL-enter-active,
.moveL-leave-active {
    transition: all 0.2s linear;
    transform: translateX(0%);
}
.moveL-enter,
.moveL-leave{
  transform: translateX(100%);
}